@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Fira Sans", sans-serif;
  background-color: rgb(246, 242, 242);
}

/* typo end */

* {
  margin: 0;
  padding: 0;
}

/* Shared styles */
.container {
  width: 75%;
  max-width: 1280px;
  margin: 0 auto;
}
.btn-primary {
  padding: 15px 30px;
  border-radius: 8px;
  background: rgba(0, 106, 80, 1);
  font-size: 18px;
  font-weight: 600;
  color: #ffff;
  cursor: pointer;
  border: none;
}
.primary-heading {
  color: rgba(14, 14, 14, 1);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

/* nav section */
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}
.nav h2 {
  font-size: 32px;
  font-weight: 700;
}

.btn-primary:hover {
  background-color: white;
  color: rgba(0, 106, 80, 1);
  border: 1px solid rgba(0, 106, 80, 1);
}

/* hero banner section */

.hero {
  border-radius: 24px;
  background: rgba(198, 228, 214, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero .banner-content {
  max-width: 450px;
}
.hero .banner-content h1 {
  color: rgba(14, 14, 14, 1);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 5%;
  text-align: left;
  margin: 18px 0 26px;
}

.hero .banner-content p {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.hero .banner-image {
  max-width: 450px;
}

.banner-image img {
  width: 100%;
  /* padding: 30px; */
}

/* vision section */

#vision {
  margin: 80px auto;
}

#vision p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 32px;
}
.vision-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
button {
  padding: 11px 20px;
  border-radius: 8px;
  background: rgba(9, 161, 92, 1);
  border: none;
}
.vision-child-1 {
  border-radius: 16px;
  padding: 32px;
  background: rgba(84, 144, 245, 0.2);
}

.vision-child-2 {
  border-radius: 16px;
  padding: 32px;
  background: rgba(198, 228, 214, 1);
}

.vision-child-3 {
  border-radius: 16px;
  padding: 32px;
  background: rgba(247, 235, 207, 1);
}

.vision-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 24px;
  margin-bottom: 12px;
}

.vision-sub {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

/* news section */

#news p {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 32px;
}

.news-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 24px;
  padding: 48px;
  background: rgba(255, 255, 255, 1);
  margin-bottom: 30px;
}
.news-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 24px;
  padding: 48px;
  background: rgba(255, 255, 255, 1);
}

.news-1 .news-content {
  max-width: 540px;
  margin-bottom: 24px;
}
.news-2 .news-content {
  max-width: 540px;
  margin-bottom: 24px;
}

figcaption {
  color: rgba(14, 14, 14, 0.7);

  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
figcaption span {
  margin-left: 10px;
}
.news-1 .news-img div {
  max-width: 450px;
}

.news-img div img {
  width: 100%;
  border-radius: 24px;
}

.news-1 .news-title, .news-2 {
  color: rgba(14, 14, 14, 0.8);

  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.news-1 .news-sub, .news-2 {
  color: rgba(14, 14, 14, 0.7);

  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 30px;
}
